* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans SC', sans-serif;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
/* header */
/* header-top */
.header-top {
  display: flex;
}
.header-top img {
  width: 215px;
  display: block;
  margin: 0 auto;
}
/* header-bottom */
.header-bottom input {
  width: 300px;
  height: 30px;
  border-radius: 50px;
  padding-left: 10px;
  background-color: linen;
  color: sienna;
}
.header-bottom button {
  width: 80px;
  height: 30px;
  margin-left: 20px;
  border-radius: 50px;
  background-color: sienna;
  color: linen;
}
/* main */
main p {
  text-align: center;
  margin-top: 60px;
  text-decoration: underline;
  color: sienna;
}
main p img {
  width: 200px;
}
#app ul {
  background-color: linen;
  padding: 0px 140px;
  margin-top: 40px;
  border-radius: 130px;
}
#app li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-top: 15px;
  list-style: none;
  border-bottom: 1px solid lightgrey;
  color: sienna;
}
#app li:last-child {
  border: 0;
}
#app li i {
  cursor: pointer;
}

/* media query */
@media screen and (max-width: 1020px) {

  #app {
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .header-top img {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 404px) {
 .header-bottom input {
   width: 200px;
 }
 #app ul {
   padding: 0 25px;
 }
}

